

 <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form [formGroup]="addbooks" action="">

        <!-- <div class="m-5">
          <input type="url" placeholder="imageurl" formControlName="img" class="form-control">
        </div> -->

        <div class="m-5">
          <input type="file" name="bookphoto" class="form-control" (change)="onSelectfile($event)">

        </div>


        <div class="m-5">
          <input type="text" placeholder="name" formControlName="name" class="form-control">
        </div>
        <div class="m-5">
          <input type="text" placeholder="author" formControlName="author"  class="form-control" >
        </div>
        <div class="m-5">
           <button class="btn btn-success form-control" type="button" [disabled]="addbooks.invalid" (click)="addBooks()">SUBMIT</button>
        </div>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>